{% extends 'base.html.twig' %}

{% block title %}Vertinimas{% endblock %}

{% block body %}
    <div class = "bg-light m-4">
        <table class = "table">
            <tbody>
            <tr>
                <th scope = "row">Projektai</th>
                <th scope = "row">Studentas</th>
            </tr>
                <td>{{ project }}</td>
                <td>{{ name }}</td>
            </tbody>
        </table>
        {% if name == 'Darius' %}
            <div class = "alert alert-success" role = "alert">
                Dešimt balų
            </div>
        {% else %}
            <div class = "alert alert-warning" role = "alert">
                Gal pasiseks kitą kartą
            </div>
        {% endif %}
    </div>
    <div class = "m-4">
        <a class = "text-light" href={{ path('home') }}>Visi studentai</a>
    </div>
{% endblock %}
