{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!
{% endblock %}

{% block body %}
	<ul class="list-group m-4">
		<li class="list-group-item list-group-item-info">Studentai</li>

		{% for project in team_list %}

			{% for student in project.students %}
				{{ include ('./student/list_item.html.twig', {'student_name': student, 'mentors': project.mentors, 'team_name': project.name}) }}
			{% endfor %}

		{% endfor %}
	</ul>
	<div class="m-4">
		<form action="/student" method="get">
			<div class="input-group">
				<input name="name" type="text" class="form-control" placeholder="Studentas"/>
			</div>
			<div class="input-group">
				<input name="project" type="text" class="form-control" placeholder="Projektas"/>
			</div>
			<button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
		</form>
	</div>

	<ul class="list-group m-4">
		<li class="list-group-item list-group-item-info">Projektai</li>

		{% for key, project in team_list %}
			{{ include ('./project/list_item.html.twig', {'project': project.name, 'proj': key}) }}
		{% endfor %}
	</ul>
	<div class="m-4">
		<a class="text-light" href="/build/students.json">Duomenų failas</a>
	</div>
{% endblock %}
