{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
        {% set counter = 0 %}
        {% for team in array %}
            {% for member in team.students %}
                {%  if counter==id %}
                    <div class="bg-light m-4">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">Projektas</th>
                                <th scope="row">Studentas</th>
                            </tr>
                            <tr>
                                <td>{{ team.name }}</td>
                                <td>{{ member }}</td>
                            </tr>
                            </tbody>
                        </table>
                        {% if counter==arentas %}
                            <div class="alert alert-success" role="alert">
                                Dešimt balų
                            </div>
                            {% else %}
                                <div class="alert alert-warning" role="alert">
                                    Gal pasiseks kitą kartą
                                </div>
                        {% endif %}
                    </div>
                    <div class="m-4">
                        <a class="text-light" href="/">Visi studentai</a>
                    </div>
                {% endif %}
                {% set counter = counter + 1 %}
            {% endfor %}
        {% endfor %}

{% endblock %}
