{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
{#{{controller_name}}#}
{#    <a href="{{ path('home') }}?student={{ "labas" |url_encode}}">Visi studentai</a>#}
    <div class="bg-light m-4">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Projektas</th>
                <th scope="row">Studentas</th>
            </tr>
            <tr>
                <td>team1</td>
                <td>Tadas</td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-warning" role="alert">
            Gal pasiseks kitą kartą
        </div>
    </div>
    <div class="m-4">
        <a class="text-light" href="/">Visi studentai</a>
    </div>

{% endblock %}
