{% extends 'base.html.twig' %}
{% block title %}Vertinimas{% endblock %}
{% block body %}
    <div class="bg-light m-4">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Projektas</th>
                <th scope="row">Studentas</th>
            </tr>
            <tr>
                <td>projekto pavadinimas</td>
                <td>Vardenis pavardenis</td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-success" role="alert">
            Dešimt balų
        </div>
    </div>
    <div class="m-4">
        <a class="text-light" href="/">Visi studentai</a>
    </div>
{% endblock %}