{% extends 'base.html.twig' %}

{% block title %}HW{% endblock %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
        {% for key,value in json %}
            <li class="list-group-item">
                <a href="{{ path('student',{'name':value.student,'project':value.project}) }}">{{ value.student }}</a>
                (
                <span class="badge">Mentorius</span> {{ value.mentors[0] }}
                )
            </li>
        {% endfor %}
    </ul>
    <div class="m-4">
        <form action="/student" method="get">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Studentas">
            </div>
            <div class="input-group">
                <input name="project" type="text" class="form-control" placeholder="Projektas">
            </div>
            <button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
        </form>
    </div>
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Projektai</li>
        {% for key,value in projectJson %}
            <li class="list-group-item">
                <h3> {{ value.project }} </h3>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
