{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block body %}
    <div class="title">NFQ Akademija</div>

    {% for key,team in data %}
        {{ team.name }}
    {% endfor %}
{% endblock %}
