{% extends 'base.html.twig' %}

{% block title %} ND {% endblock %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
        {% set counter = 0 %}
        {% for team in array %}
            {% for member in team.students %}
            <li class="list-group-item">
                <a href="/student?{{ counter }}">{{ member }}</a>
                (
                <span class="badge"> Mentorius</span> {{team.mentors[0]}}
                )
            </li>
                {% set counter = counter + 1 %}
            {% endfor %}
        {% endfor %}
    </ul>

    <div class="m-4">
        <form action="/search" method="get">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Studentas" pattern="[A-Za-z0-9]+">
            </div>
            <div class="input-group">
                <input name="project" type="text" class="form-control" placeholder="Projektas" pattern="[A-Za-z0-9]+">
            </div>
            <button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
        </form>
    </div>

    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Projektai</li>
        <li class="list-group-item">
            <h3>Team1</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/team1">github.com/nfqakademija/team1</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://team1.projektai.nfqakademija.lt/">team1.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh team1@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>BaltiChalatai</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/baltichalatai">github.com/nfqakademija/baltichalatai</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://baltichalatai.projektai.nfqakademija.lt/">baltichalatai.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh baltichalatai@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>ePacientas</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/nnizer">github.com/nfqakademija/nnizer</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://nnizer.projektai.nfqakademija.lt/">nnizer.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh nnizer@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>ActiveGen</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/activegen">github.com/nfqakademija/activegen</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://activegen.projektai.nfqakademija.lt/">activegen.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh activegen@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>Membership-management-system</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/mms">github.com/nfqakademija/mms</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://mms.projektai.nfqakademija.lt/">mms.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh mms@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>NFQ pamainu sistema</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/pamainos">github.com/nfqakademija/pamainos</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://pamainos.projektai.nfqakademija.lt/">pamainos.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh pamainos@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>Receptai</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/receptai">github.com/nfqakademija/receptai</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://receptai.projektai.nfqakademija.lt/">receptai.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh receptai@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>NFQ pulse</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/pulse">github.com/nfqakademija/pulse</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://pulse.projektai.nfqakademija.lt/">pulse.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh pulse@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>NFQ Petro atrankos problema akademijai</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/lita">github.com/nfqakademija/lita</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://lita.projektai.nfqakademija.lt/">lita.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh lita@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>MyFleet</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/myfleet">github.com/nfqakademija/myfleet</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://myfleet.projektai.nfqakademija.lt/">myfleet.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh myfleet@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>NFQ Career Criteria Assessment</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/career">github.com/nfqakademija/career</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://career.projektai.nfqakademija.lt/">career.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh career@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>NFQ Car parking</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/carparking">github.com/nfqakademija/carparking</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://carparking.projektai.nfqakademija.lt/">carparking.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh carparking@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>Krepšinio podcastai</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/podcast">github.com/nfqakademija/podcast</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://podcast.projektai.nfqakademija.lt/">podcast.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh podcast@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>barakas</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/Barakas">github.com/nfqakademija/Barakas</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://Barakas.projektai.nfqakademija.lt/">Barakas.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh Barakas@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>Education sharing platform</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/devcollab">github.com/nfqakademija/devcollab</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://devcollab.projektai.nfqakademija.lt/">devcollab.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh devcollab@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>' OR 1 -- DROP DATABASE</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/hack%3Cb%3Eer%3C%2Fb%3E%27is%20po%20.mySubdomain%20%26project%3D123">github.com/nfqakademija/hack&lt;b&gt;er&lt;/b&gt;'is po .mySubdomain &amp;project=123</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://hack%3Cb%3Eer%3C%2Fb%3E%27is%20po%20.mySubdomain%20%26project%3D123.projektai.nfqakademija.lt/">hack&lt;b&gt;er&lt;/b&gt;'is po .mySubdomain &amp;project=123.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh hack&lt;b&gt;er&lt;/b&gt;'is po .mySubdomain &amp;project=123@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
    </ul>

    <div class="m-4">
        <a class="text-light" href="data.json">Duomenų failas</a>
    </div>



{% endblock %}
