{% extends 'base.html.twig' %}

{% block body %}
    <ul class = "list-group m-4">
        <li class = "list-group-item list-group-item-info">Studentai</li>
            {% for students in students %}
                {% for name in students.students  %}
                    <li class = "list-group-item">
                        <a href = {{ path('student', {name: name, project: students.name}) }}>{{ name }}</a>
                        (<span class = "badge">Mentorius</span>
                        {% for mentors in students.mentors %}
                            {{ mentors }} )
                        {% endfor %}
                    </li>
                    {% endfor %}
            {% endfor %}
    </ul>

    <div class = "m-4">
        <form action = "/student" method = "get">
            <div class = "input-group">
                <input name = "name" type = "text" class = "form-control" placeholder="Studentas">
            </div>
            <div class = "input-group">
                <input name = "project" type = "text" class = "form-control" placeholder="Projektas">
            </div>
            <button type = "submit" class = "btn btn-success">Sužinoti vertinimą</button>
        </form>
    </div>

    <a href= {{ path('home') }}>Duomenų failas</a>
{% endblock %}
