{% extends 'base.html.twig' %}

{% block title %} ND {% endblock %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
        {% for item in someVariable %}
            <li class="list-group-item">
                <a href="/student?name=Tadas&amp;project=team1">{{ item }}</a>
                (
                <span class="badge">Mentorius</span> Mantas
                )
            </li>
        {% endfor %}
    </ul>
{% endblock %}
