<ul class="list-group m-4">
    <li class="list-group-item list-group-item-info">Studentai</li>
    {% for team in teams %}
        {% for student in team['students'] %}
            <li class="list-group-item">
                <a href="{{ path('student', {name:student |url_encode |escape, project:team['name'] |url_encode |escape} ) }}">{{ student }}</a>
                (
                <span class="badge">Mentorius</span> {{ team['mentors'][0] }}
                )
            </li>
        {% endfor %}
    {% endfor %}
</ul>