{% extends 'base.html.twig' %}

{% block title %}Projektai{% endblock %}

{% block body %}

    <ul class="list-group m-4">

        <li class="list-group-item list-group-item-info">Studentai</li>
        {% for team in students %}
            {% for student in team.students %}
                <li class="list-group-item"><a href="/student?name=Martyna&project=nedarykpats">{{ student }}</a> (
                    <span
                            class="badge">Mentorius</span> {{ team.mentors[0] }} )
                </li>
            {% endfor %}
        {% endfor %}

    </ul>

    <div class="m-4">
        <form action="/student" method="get" _lpchecked="1">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Studentas">
            </div>
            <div class="input-group">
                <input name="project" type="text" class="form-control" placeholder="Projektas">
            </div>
            <button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
        </form>
    </div>

{% endblock %}
