{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <body data-gr-c-s-loaded="true"><pre style="word-wrap: break-word; white-space: pre-wrap;">{
  "nedarykpats": {
    "name": "Nedaryk pats",
    "mentors": [
      "Laurynas"
    ],
    "students": [
      "Martyna",
      "Aurimas",
      "Vilius"
    ]
  },
  "savanoryste": {
    "name": "Car booking",
    "mentors": [
      "Tomas"
    ],
    "students": [
      "Ignas",
      "Dovydas",
      "Darius"
    ]
  },
  "curlybrackets": {
    "name": "Maisto dalinimosi sistema",
    "mentors": [
      "Paulius"
    ],
    "students": [
      "Roman",
      "Marijus",
      "Angelika"
    ]
  },
  "hobby": {
    "name": "Hobby",
    "mentors": [
      "Ieva"
    ],
    "students": [
      "Miroslav",
      "Viktoras",
      "Lukas"
    ]
  },
  "hack&lt;b&gt;er&lt;/b&gt;'is po .mySubdomain &amp;project=123": {
    "name": "' OR 1 -- DROP DATABASE",
    "mentors": [
      "&lt;b&gt;Ponas&lt;/b&gt; Programišius"
    ],
    "students": [
      "Aurelijus Banelis",
      "&lt;b&gt;Ir&lt;/b&gt; jo \"geras\" draug'as"
    ]
  }
}
</pre></body>
{% endblock %}
