{% extends 'base.html.twig' %}

{% block title %}Hello PeopleController!{% endblock %}

{% block body %}
    <div id="root">Loading...</div>
    <noscript>To use this app, enable JavaScript</noscript>
    <div>
        Versijuojamas JavaScript failas: <b id="versionedFile">...</b>
    </div>

    <div class="col-lg-6">
            <div class="input-group">
                <label>Vardas:</label>
                <input id="name" name="name" type="text" class="form-control-sm" placeholder="Vardas">
                <span id="validation-result-name" data-path="{{ path('validateInput', {'element': 'name'}) }}"></span>
            </div>
            <div class="input-group">
                <label>Komanda:</label>
                <input id="team" name="team" type="text" class="form-control-sm" placeholder="Komanda">
                <span id="validation-result-team" data-path="{{ path('validateInput', {'element': 'team'}) }}"></span>
            </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>
    {{ encore_entry_script_tags('validation') }}
    {{ parent() }}
{% endblock %}
