// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
$body-bg: #FF6B00;
$link-hover-color: darken($primary, 50%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
